footer {
  background-color: #f1f1f1;
  padding: 16px;
  text-align: center;

}

footer > div {
  display: flex;
  justify-content: left;
  gap: 32px; 
  flex-wrap: wrap; 
  margin-left: 15px;
}

footer div div {
  white-space: nowrap; 
}

footer div div:nth-child(2),
footer div div:nth-child(3),
footer div div:nth-child(4) {
  color: rgba(0, 0, 0, 0.5); 
}

